.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
}

.in{
    width: 90%;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.546);
    color: white;
}

.s-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    padding-right: 5%;
    font-size: 20px;
    color: white;
}

.s-button:hover{
    cursor: pointer;
}