.search-bar > input{
    width: 300px;
    font-size: 20px;
    border-radius: 30px;
    padding: 7px 10px;
    color: rgb(181, 181, 181);
    border: 2px solid rgb(181, 181, 181);
}

.search-bar{
    text-align: center;
    margin-top: 50px;
}