*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Times New Roman', Times, serif;
    background: url(weather_bc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 1080px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}